@{
    ViewBag.Title = "Dashboard";
}

@section styles {
    <style type="text/css">

    </style>
}

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/dashboard")

<div ng-controller="DashboardController as vm">

    <h2>{{vm.title}}</h2>

    <canvas id="exampleChart" width="100" height="50"></canvas>
</div>
