@{
    ViewBag.Title = "Dashboard";
}

@section styles {
    <style type="text/css">

    </style>
}

<h2>Dashboard</h2>

<canvas id="exampleChart" width="100" height="50"></canvas>

@Scripts.Render("~/bundles/dashboard")
